{% load static %}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="utf-8" />

  <link rel="stylesheet" href="{% static 'style/weui.min.css' %}" />
  <link rel="stylesheet" href="{% static 'style/weui2.min.css' %}" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <title>芪尊科技</title>

  <style>
    @media screen and (min-width:1200px) {
      body {
        margin-top: 160px;
        margin-bottom: 272px;
      }
    }

    @media screen and (max-width:1919px) {
      body {
        margin-top: 76px;
        margin-bottom: 128px;
      }
    }

    a {
      text-decoration: none;
    }
  </style>
  
</head>

<body ontouchstart>
  <script type="text/javascript">
    
    if(window.__wxWebEnv){
        document.body.style.webkitTextSizeAdjust = JSON.parse(window.__wxWebEnv.getEnv()).fontScale + '%';
      }
    
  </script>
  <div class="container" id="container">
  <div class="page list js_show" tabindex="-1">
    <div class="page__hd" style="text-align: center;">
        <h1 class="page__title">个人中心</h1>
    </div>
    <div class="page__bd"></div>
      <div class="weui-cells__title">个人中心</div>
      <div class="weui-cells">
        <a class="weui-cell  weui-cell_access" href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx71b3d2f26d40ecbc&redirect_uri=https%3A%2F%2Fdjango-cihh-20134-6-1315334785.sh.run.tcloudbase.com/user_auth2.html&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect">
            <span class="weui-cell__bd">
                <span>用户注册</span>
            </span>
            <span class="weui-cell__ft">
            </span>
        </a>
        <a class="weui-cell  weui-cell_access" href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx71b3d2f26d40ecbc&redirect_uri=https%3A%2F%2Fdjango-cihh-20134-6-1315334785.sh.run.tcloudbase.com/user_auth2.html&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect">
            <span class="weui-cell__bd">
                <span>查看积分</span>
            </span>
            <span class="weui-cell__ft">
            </span>
        </a>
        <a class="weui-cell  weui-cell_access" href="/score_rules">
            <span class="weui-cell__bd">
                <span>积分规则</span>
            </span>
            <span class="weui-cell__ft">
            </span>
        </a>
    </div>
  </div>
</div>
</body>

</html>