{% load static %}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="utf-8" />

  <link rel="stylesheet" href="{% static 'style/weui.min.css' %}" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <title>注册</title>

  <script src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
  <script src="https://web-9gikcbug35bad3a8-1304825656.tcloudbaseapp.com/sdk/1.3.0/cloud.js"></script>
  <script src="https://web-9gikcbug35bad3a8-1304825656.tcloudbaseapp.com/sdk/1.3.1/mplogin.min.js"></script>
  <!-- <script>
  window.onload = async function () {
  // 使用登录模块，传入信息开始授权登录过程
  // 如果首次登录，页面会经历一系列跳转过程，请不要在登录前加业务处理代码，以免登录被中断。
    const result = await window.mplogin({    
      scope: "snsapi_userinfo",             // 必填，登录方式：snsapi_userinfo、snsapi_base
      appid: 'wx71b3d2f26d40ecbc',          // 必填，公众号appid，将以此 appid 名义进行请求
      // redirect: '',                      // 选填，授权成功后路由的地址，目标地址应能处理授权参数，不填为当前页面
      envid: 'prod-0guircaqf8ad3f74',       // 选填，资源方微信云托管环境，如果传递此参数则会返回初始化的 cloud 操作对象
      //resourceAppid: 'wxaa02testenvid99', // 选填，如果是资源复用模式，需要填环境共享下资源方微信账号
      signature: window.location.href,      // 选填，如果需要微信 SDK 的API方法，则填写要使用的地址，会返回 signature 签名对象，envid参数不填则无效。
      // region: ''                         // 选填，环境的地域，可选ap-guangzhou、ap-beijing，不填默认为ap-shanghai
      // traceUser:false                    // 选填，默认true，是否在将用户访问记录到用户管理中，非上海地域请设置成false
      noback: true                          // 选填，默认noback:false，此时初次跳转授权后，模块将重新回退加载页面。
                                            // 由于 CloudSDK 在初次登录时需要多个页面跳转，最终带参返回页面在浏览器
                                            // 页面栈中多了一到两层,你可以根据业务自行用 history 处理上述问题，
                                            // 不需要模块介入则填noback:true
    });
    // 登录完成后，结果会以对象形式展示
    /* 返回信息结构：
      ret: number               // 登录的状态
      |_ -1: 参数错误，一般是 appid 缺失和 scope 类型有误
      |_  0: 成功
      |_  1: 当前页面或 redirect 页面非 https 协议，授权机制无法作用，请使用 https 协议
      |_  2: 系统判定有风险，阻止了此次登录，一般是授权耗时太长，导致过期了，清除缓存刷新可解决问题
      |_  3: 未引入微信WEBSDK，无法初始化 cloud 操作对象，或者因为环境未授权此账号使用。
      msg: string               // 登录失败的问题描述
      cloud: object[function]   // envid参数存在并成功初始化后，返回的操作函数对象
      signature: object[string] // envid、signature参数存在并成功初始化后，返回的签名信息
      info: string              // 如果snsapi_userinfo登录，则会返回用户信息的cloudID，可以使用转换接口获取信息，见下文
    */
    
    if (result.ret === 0) {                 // ret为0时，代表登录已经完成，可以进行业务操作
      window.app = result.cloud;             // result.cloud 返回初始化可操作的 cloud 函数对象，将其放置全局
      
      //向云托管服务发起调用
      const callres = await window.app.callContainer({
        path: '/wxuser_auth',                       // 填入业务自定义路径和参数，根目录，就是 / 
        method: 'GET' ,                     // 按照自己的业务开发，选择对应的方法
        header: {
          'content-type': 'application/json',
          'X-WX-SERVICE': 'django-cihh',            // 服务名称（微信云托管 - 服务管理 - 服务列表 - 服务名称）
        },
        // 其余参数同 wx.request
      });

      console.log(callres);
      window.alert("云托管返回：" + callres['openid'] + '\n' + callres['subscribe']);
      // // 使用微信公众号JSSDK，开始签名，签名信息在 result.signature 中
      // // 发起签名注册，是一个异步操作，成功会触发wx.ready
      // wx.config({
      //   appId: 'wx71b3d2f26d40ecbc',                   // 微信公众号appid
      //   timestamp: result.signature.timestamp + '',   // 时间戳，从返回 result.signature 中获取
      //   nonceStr: result.signature.nonceStr,          // 随机字符串，从返回 result.signature 中获取
      //   signature: result.signature.signature,        // 签名，从返回 result.signature 中获取
      //   jsApiList: ['getNetworkType']                 // 注册的 api 列表
      // });
      // // 监听签名注册成功
      // wx.ready(function () {
      //   // 发起网络类型获取，只是测试，可以替换自己想要的 API 方法
      //   wx.getNetworkType({
      //     success: function (res) {
      //       window.alert('当前设备网络类型：'+res.networkType)
      //     }
      //   });
      // });
      
    } else {  // ret不为0时，代表登录出现错误，一般出现在开发调试中，正式使用一般只有2-系统拦截错误
      // 登录出现问题，打印问题描述
      window.alert(result.msg);
    }
  }
  </script> -->
  <style>
    body {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Droid Sans", "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
    }

    .title-logo {
      width: 80px;
      height: 80px;
    }

    @media screen and (min-width:1200px) {
      body {
        margin-top: 160px;
        margin-bottom: 272px;
      }
    }

    @media screen and (max-width:1919px) {
      body {
        margin-top: 76px;
        margin-bottom: 128px;
      }
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 320px;
    }

    .title-text {
      width: 320px;
      height: 48px;
      text-align: center;
      margin-top: 16px;
      font-size: 32px;
      opacity: 0.9;
      font-weight: 500;
      font-size: 32px;
      color: #000000;
      letter-spacing: 0;
      line-height: 48px;
    }

  </style>
</head>

<body>
  
  <div class="weui-form" >
    <div style="display: flex; flex-direction: column; align-items: center; margin: 0">
      <div class="title" >
        <img class="title-logo"
          src="{% static 'pic/qizunlogo.png' %}" />
        <div style="display: inline; margin-bottom: 48px" class="title-text">欢迎注册芪尊会员</div>
      </div>
    </div>
    
    <div style="display: flex; flex-direction: column; align-items: center; margin: 0">
      <div class="weui-form__control-area">
        
        <div class="weui-cells__group weui-cells__group_form">
          <div class="weui-cells__title">注册</div>
          <div class="weui-cells">
            
            <label for="js_input1" class="weui-cell weui-cell_active">
              <div class="weui-cell__hd"><span class="weui-label">微信号</span></div>
              <div class="weui-cell__bd">
                  <input id="js_input1" class="weui-input" value="{{openid}}" disabled/>
              </div>
            </label>
            <label for="js_input2" class="weui-cell weui-cell_active">
              <div class="weui-cell__hd"><span class="weui-label">昵称</span></div>
              <div class="weui-cell__bd">
                  <input id="js_input2" class="weui-input" value="{{nickname}}" disabled/>
              </div>
            </label>
            <label for="js_input3" class="weui-cell weui-cell_active">
              <div class="weui-cell__hd"><span class="weui-label">联系电话</span></div>
              <div class="weui-cell__bd">
                  <input id="js_input3" class="weui-input" placeholder="填写绑定的电话号码" />
              </div>
            </label>
            <label for="js_input4" class="weui-cell weui-cell_active">
              <div class="weui-cell__hd"><span class="weui-label">推荐人</span><div class="weui-cell__desc">选填</div></div>
              <div class="weui-cell__bd">
                  <input id="js_input4" class="weui-input" placeholder="填写推荐人手机号" />
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div style="display: flex; flex-direction: column; justify-content: center; margin: 0">
      <a id="commit_button"  role="button" class="weui-btn weui-btn_primary" style="display:none; justify-content: center;" onclick="comfirm()">注册</a>
      <a id="waiting_button"  role="button" title="等待中" class="weui-btn weui-btn_primary weui-btn_loading" style="margin-top:0%; display:none; justify-content: center; align-items: center;" ><span class="weui-primary-loading weui-primary-loading_transparent"><i class="weui-primary-loading__dot"></i></span>等待中</a>
      <a id="disabled_button"  role="button" class="weui-btn weui-btn_disabled weui-btn_primary" style="margin-top:0%; display: flex; justify-content: center;" >注册</a>
    </div>
    
  </div>
  
</body>
<script src="https://mat1.gtimg.com/www/asset/lib/jquery/jquery/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script>
  var info_complete_interval = self.setInterval("info_complete()", 200);

  function comfirm(){
    clearInterval(info_complete_interval);
    $("#commit_button").css("display", "none");
    $("#waiting_button").css("display", "flex");

    let obj = {wx_num:$("#js_input1").val(), wx_nck:$("#js_input2").val(), telephone:$("#js_input3").val(), intro:$('#js_input4').val()};
    console.log(obj);
    $.ajax({
      url: '/register_submit',
      type: 'post',
      data: JSON.stringify(obj),
      contentType: "application/json; charset=utf-8",
      dataType: "json",

      }).done(function(data, textStatus, xhr){
      
      if(data && data.error !== undefined){
        console.log(data);
        window.alert(data.error);
        clearForm();
        info_complete_interval = self.setInterval("info_complete()", 200);
        return;
      }
      }).fail(function(xhr, textStatus, errorThrown){
        window.alert(textStatus);
      });

  }

  function clearForm(){
    var ips = $('input');
    ips.each(function(id, element){
      ips.eq(id).val('');
    });
  }

  function info_complete(){
    let input1 = $("#js_input1").val();
    let input2 = $("#js_input2").val();
    let v3 = $("#js_input3").val();

    if(input1.length == 0 || input2.length == 0 || !(/^1[3456789]\d{9}$/.test(v3))){
      $("#disabled_button").css("display", "flex");
      $("#commit_button").css("display", "none");
      $("#waiting_button").css("display", "none");
      return;
    }
       
    $("#commit_button").css("display", "flex");
    $('#waiting_button').css("display", "none");
    $("#disabled_button").css("display", "none");
    return;
    
  }
  // init();
  // function init() {
  //   $.ajax("/api/count", {
  //     method: "get",
  //   }).done(function (res) {
  //     if (res && res.data !== undefined) {
  //       $("#js_input4").html(res.data);
  //     }
  //   });
  // }
  // function set(action) {
  //   $.ajax("/api/count", {
  //     method: "POST",
  //     contentType: "application/json; charset=utf-8",
  //     dataType: "json",
  //     data: JSON.stringify({
  //       action: action,
  //     }),
  //   }).done(function (res) {
  //     if (res && res.data !== undefined) {
  //       $("#js_input4").html(res.data);
  //     }
  //   });
  // }
</script>

</html>