<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="utf-8" />

  <title>授权页</title>
</head>
<body>
    <script src="https://mat1.gtimg.com/www/asset/lib/jquery/jquery/jquery-1.11.1.min.js"></script>
    <script>
        function getUrlParam(name) {
            //构造一个含有目标参数的正则表达式对象
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            //匹配目标参数
            var r = window.location.search.substr(1).match(reg);
            //返回参数值
            if(r != null) {
                return decodeURI(r[2]);
            }
            return null;
        }

        let code = getUrlParam("code");
        let state = getUrlParam("state");
        let context = {'code':code, 'state':state};
        if (code != null) {
            $.ajax({
                url: '/get_access_token',
                type: 'post',
                data: JSON.stringify(context),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
            }).done(function(data, textStatus, xhr){
                window.alert(textStatus);               
            }).fail(function(xhr, textStatus, errorThrown){
                window.alert('fail');
                window.alert(textStatus);
                window.alert(errorThrown);});
        }
        else{
            window.alert('code获取失败。');
        }
    </script>
</body>