<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="utf-8" />

  <title>授权页</title>
  <script src="https://mat1.gtimg.com/www/asset/lib/jquery/jquery/jquery-1.11.1.min.js"></script>
    <script>
        function getUrlParam(name) {
            //构造一个含有目标参数的正则表达式对象
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            //匹配目标参数
            var r = window.location.search.substr(1).match(reg);
            //返回参数值
            if(r != null) {
                return decodeURI(r[2]);
            }
            return null;
        }

        let code = getUrlParam("code");
        let state = getUrlParam("state");
        let context = {'code':code, 'state':state};
        if (code != null) {
            fetch('get_user_info', {
                method: 'POST',
                headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
                },
                body: JSON.stringify(context),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.exist){
                        let nk = data.nickname;
                        let score = data.uscore;
                        let url = `/user_info/?nickname=${nk}&score=${score}`;
                        window.location.href = url;
                    }
                    else{
                        let nk = data.nickname;
                        let openid = data.openid;
                        let url = `/register/?openid=${openid}&nickname=${nk}`;
                        window.location.href = url;
                    }
                });
        }
        else{
            window.alert('code获取失败。');
        }
    </script>
</head>
<body>
    
</body>