<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="utf-8" />

  <title>授权页</title>
</head>
<body>
    <script>
        // 首次路由到该页面执行下面分支，第二次来就不执行该部分
        if(history.state == null){
        history.pushState({firsttime: 'true'}, "");
        // 重定向到自己，获取code。
        window.location.href = "https://open.weixin.qq.com/connect/oauth2/authorize?"+
                                "appid=wx71b3d2f26d40ecbc&"+
                                "redirect_uri=https%3A%2F%2Fdjango-cihh-20134-6-1315334785.sh.run.tcloudbase.com/user_auth.html&"+
                                "response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect"
        }
        
        function getUrlParam(name) {
            //构造一个含有目标参数的正则表达式对象
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            //匹配目标参数
            var r = window.location.search.substr(1).match(reg);
            //返回参数值
            if(r != null) {
                return decodeURI(r[2]);
            }
            return null;
        }

        let code = getUrlParam("code");
        let state = getUrlParam("state");
        let context = {'code':code, 'state':state};
        if (code != null) {
            window.alert(code);
            $.ajax({
                url: '/get_access_token',
                type: 'post',
                data: JSON.stringify(context),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
            }).done().fail();
        }
        else{
            window.alert("用户授权code获取失败！");
        }
    </script>
</body>